[Unit]
Description=Orange WebPay Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/dreamexdatalab/orange-webpay
EnvironmentFile=/var/www/dreamexdatalab/orange-webpay/.env
ExecStart=/usr/bin/node server.js
Restart=on-failure
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
